/* 全局 css 变量 */

// 主颜色
// $primary: #227093;
$primary: #12a6f2;


// 渐变色
$gradient1:#3CA37C;
$gradient2:#72C37A;
$gradient3:#B1DF74;
$gradient4:#F9F871;

// 反差色
$opposite:#cd6133;
// $opposite:#28be85;

//辅助色
$auxiliary:#576574;
//边框颜色
$border_color:#355091;


